<html> 
<title>
Hello world website
</title>
<body>
<h1>Hi there!</h1>
This web site was created on {{ ansible_facts.date_time.weekday }} and on that day web server was named {{ ansible_facts.fqdn }}
</body>
</html>
